$body-padding: 2em;
$li-padding: 5px;
$h-padding: 7px;
$p-padding: $li-padding;

// SIZES
$span: 1em;
$mspan: $span/2;
$semispan: $mspan;
// COLORS
$yellow: yellow;
$red: red;
$blue: blue;
$li-bg: #ccffcc; //светло-салатовый

$h3-size: 1.5em;

@mixin float-right {
  float: right;
  margin: 0 0 $span $span;
}

.float-right {
  @include float-right;
}

.float-left{
  float:left;
  margin:0 $span $mspan 0
}


.amoform {
  @include float-right;
  //background: gray;
  padding-right:$span;
}

.li-bg {
  background: $li-bg;
}

hr {
  margin: $span $p-padding;
}

#menu {
  margin-bottom: $mspan;
  li {
  display: inline-block;
  width: 20%;

  }
li,a {
  color: $red;
  background: $yellow;
}
a {
  display: block;

}
.current {
  color: black;
}
}

img {
  max-width:600px;
  max-height: 600px;
}
p {
  padding: $p-padding;
}
.red {
  color: $red;
}

.demozal {
  margin-top: $span;
  background: $li-bg;
  color: $blue;
  font-size: $h3-size;
}

* {
  margin:0;
  padding: 0;
}

body {
  padding: $body-padding;
}


.yellow-red {
  color:yellow;
  background: red;
}

.red-yellow {
  color:red;
  background:yellow;
}

.lime {
  background: lime;
}

.aqua {
  background: Aqua;
}

.yellow-blue {
  color:yellow;
  background: Blue;
}

h1,h2,h3 {
  padding: $h-padding;
}

li {
  padding: $li-padding;
  list-style: none;
  background: $li-bg;
}

#header {
  background: $yellow;
  margin-bottom: $semispan;
}

#header h1 {
  color: $red;
}

#header h2 {
  color: $blue;
}
